<launch>
	<arg name="model" default="$(find R1_urdf)/Robot_Linz.urdf"/>
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

 	<node name="joy_node" pkg="joy" type="joy" ></node>
 	<node name="r1_odom" pkg="R1_Odom" type="r1_odom" ></node>
 	<node name="pls_node" pkg="Laser_PLS200" type="pls_node" ></node>
 	<node name="kinect_node" pkg="kinect_camera" type="kinect_node" ></node>
	<node name="rviz" pkg="rviz" type="rviz" />
</launch>
